@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 259 50.9% 50%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Add SF Arch Rival from public folder */
@font-face {
  font-family: "SF Arch Rival";
  src: url("/SF Arch Rival.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "SF Arch Rival";
  src: url("/SF Arch Rival Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "SF Arch Rival";
  src: url("/SF Arch Rival Italic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "SF Arch Rival";
  src: url("/SF Arch Rival Bold Italic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

/* Add SF Arch Rival as variable */
:root {
  --font-arch-rival: "SF Arch Rival", sans-serif;
  font-size: 22px;
}

/* A class which adds a repeating circle background pattern */
.bg-pattern {
  background-image: radial-gradient(
    ellipse at center,
    #a4ddfc 0%,
    #a4ddfc 50%,
    transparent 30%
  );
  background-size: 10rem 10rem;
}

/* A class which adds a linear graident background from transparent at the top to light blue at the bottom */
.bg-gradient {
  background-image: linear-gradient(to bottom, transparent, #499cf9);
}

/* A class which adds a cloud vignette effect around the container */
.bg-vignette {
  background-image: radial-gradient(
    circle,
    transparent 40%,
    rgba(255, 255, 255, 0.25) 100%
  );
}
